@model AfterWorkPlanner.Models.ActivityUserMapping

@{
    ViewBag.Title = "Activity User Mapping Details";
}

<h2>Details</h2>

<div>
    <h4>Activity_User_Mapping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity.activity_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.activity_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.time_limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.from_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.from_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.to_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.to_time)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ActivityUserMappingEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ActivityUserMappingList")
</p>
